<form class="form" action="/save-todo/<%=listId%>" method="post">
  <div>
    <label for="description">What do you have to do?</label>
    <input type="text" name="description" value="">
  </div>
  <input type="submit" name="" value="Create" class="btn btn-primary">
</form>
