<form class="form" action="/save-todo" method="post">
  <div>
    <label for="thing">What do you have to do?</label>
    <input type="text" name="thing" value="">
  </div>
  <input type="submit" name="" value="Create" class="btn btn-primary">
</form>
